<h1 align="center"><%= image_tag("logo.png", :alt => "real Knowledge Base", :size => "400x600") %></h1>
<br><br><br>
<%= form_tag solutions_path, :method => 'get' do %>
 <p align="center"> 
    <%= text_field_tag :search, params[:search],:class => "span5" %><br>
    <%= submit_tag "Search realKB", :name => nil %>
  </p>
<% end %>
